*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Reusable design */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.primary-section{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 808px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
}
.primary-section-content{
    width: 525px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.primary-title{
    font-size: 65px;
    font-weight: bold;
}
.primary-info{
    font-size: 16px;
    line-height: 26px;
}
.dark-2{
    color: #444343;
}

.primary-btn{
    padding: 20px 25px;
    border: none;
    background-color: #F15B22;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* banner */
.primary-section-first{
    background-image: url(/images/banner/banner1.png);
    
}
/* failure section */
.failures-img{
    width: 570px;
    height: 723px;
    position: relative;
}
.ellipse{
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background-color: rgba(242, 91, 34,20%);
    position:absolute;
    bottom: 0;
    left: 22px;
    z-index: -1;
}
.failures{
    display: flex;
    gap: 158px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.failure-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #151414;
}
.failure-info{
    line-height: 26px;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}
.fa-check{
    color: #63E6BE;
    margin-right: 10px
}
.failure-list .failure-info{
    margin-bottom: 0;
}
.failures>:nth-child(2){
    width: 416px;
    margin-bottom: 85px;
    align-self: flex-end;
}




.primary-section-second{
    background-image: url(/images/banner/banner2.png);
}
